BACKUP/
storage/logs/*
storage/logs/.gitkeep
storage/temp/
storage/cache/
storage/files/
storage/data/auth.json
storage/data/invites.json
storage/data/accounts/*
!storage/data/accounts/.gitkeep
public_html/files/
public_html/shared/
public_html/tests/
public_html/data/calendar.json
public_html/data/icalexport.ics
*.code-workspace

# Should be keep but not in live
# .vscode/**

# Site specific
.env*